<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Sozo\ProductPageAdvert\Api\AdvertRepositoryInterface" type="Sozo\ProductPageAdvert\Model\AdvertRepository" />

    <virtualType name="PdpAdvertGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sozo_productpageadvert_advert_listing_data_source" xsi:type="string">Sozo\ProductPageAdvert\Model\ResourceModel\Advert\VirtualType\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Sozo\ProductPageAdvert\Model\ResourceModel\Advert\VirtualType\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sozo_pdp_advert</argument>
            <argument name="resourceModel" xsi:type="string">Sozo\ProductPageAdvert\Model\ResourceModel\Advert</argument>
            <argument name="connection" xsi:type="object">Magento\Framework\App\ResourceConnection</argument>

        </arguments>
    </virtualType>

</config>
