<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sozo_ProductPageAdvert::Advert"
             title="Adverts"
             module="Sozo_ProductPageAdvert"
             sortOrder="10"
             resource="Sozo_ProductPageAdvert::config"
             parent="Magento_Backend::marketing"/>

        <add id="Sozo_ProductPageAdvert::pdp"
             title="PDP Advert"
             module="Sozo_ProductPageAdvert"
             resource="Sozo_ProductPageAdvert::config"
             sortOrder="10"
             parent="Sozo_ProductPageAdvert::Advert"
             action="pdpadvert/advert/index"/>
    </menu>
</config>
